
<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs" style="margin-left: 80px; max-width: 250px;">
  <ul>
    <li> <%= link_to "Back Categories", categories_path %></li>
    <li> <%= link_to "Back Items", items_path %> </li>
  </ul>
</nav>
<div class="row pt-5">
  <% if @category_items.present? %>
  <% @category_items.each do |item| %>
      <div class="column is-2 item">
        <div class="row">
        <%= image_tag item.image.url, style: 'height: 150px; padding: 10px;' %>
        </div>
      <div class="item-content">
        <br>
        <span> Category.name </span> <h3> <%= Category.find(item.category_id).name %></h3>
        <span class="tag tag-primary"> Item name : </span> <p><%= item.name %> </p>
        <span class="tag is-success is-light"> Item Description: </span> <p><%= item.description %> </p>
        <span class="tag is-warning"> Item price: </span> <p><%= item.price %> </p>
        <span class="tag is-success"> Item brand name: </span> <p> <%= item.brand %> </p>
        <div class="item-edit">
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Delete', item_path(item),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, style: "margin-left: 35px; color: red" %>
        </div>
      </div>
      </div>
    <% end %>
    <% else %>
    <div class="itemNot">
    <p> <%= @category_missing.name %> added no item so far click below </p>
      <%= link_to ' create New Item',new_item_path %>
    </div>
  <% end %>
</div>
